
{% extends "base.html.twig" %}

{% block title %}Liste des contacts{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Liste des contacts</h1>

    <div class="d-flex justify-content-end align-items-center my-3">
        <a href="{{path('app.create')}}" class="btn btn-primary">Nouveau contact</a>
    </div>

    {# Le tableau listant les données #}
{% endblock %}